{% extends "kilig.html" %}
{% block title %} add new fanfic {% endblock %}

            {% block content %}
            
            <h1 class="all-in-titles">Add new fanfic:</h1>
            <div class="all-forms">
            <form method="post" style="size: 50px;">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label class="form-label">{{ field.label }}</label>
                    
                    {{ field }}
                    
                    {% if field.errors %}
                    <div class="error">
                        {{ field.errors }}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            <button type="submit" class="btn btn-primary btn-block">Add Fanfic</button>
                
            </form>
            </div>
            {% endblock %}