{% extends "kilig.html" %}
{% load crispy_forms_tags %}
{% block title %} edit profile {% endblock %}


{% block content %}
<h2 class="all-in-titles">Edit Profile</h2>

<div class="all-forms">
  {% csrf_token %}
<form method="POST" enctype="multipart/form-data">
  {% if user.profile.avatar %}
    <img id="preview" src="{{ user.profile.avatar.url }}" width="120">
  {% else %}
    <img id="preview" src="/media/avatars/default.jpg" width="120">
    
  {% endif %}
  {% crispy form %}

</form>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const input = document.getElementById("avatar-input");
    const preview = document.getElementById("preview");

    if (input) {
        input.addEventListener("change", function(event) {
            const file = event.target.files[0];

            if (file) {
                preview.src = URL.createObjectURL(file);
            }
        });
    }
});
</script>

{% endblock %}